<div class="model-form animation-show" *ngIf="loading; else loader">

  <!-- check data title -->
  <div mat-dialog-title class="model-form__title" *ngIf="mode === 'check user data'">
    You want to reset your password?<br />
    You need to enter next fields
  </div>

  <!--  change password title -->
  <div mat-dialog-title class="model-form__title" *ngIf="mode === 'change password'">
    Enter and confirm new password
  </div>

  <!-- user data confirm form -->
  <form [formGroup]="changePasswordForm" mat-dialog-content class="model-form__content" *ngIf="mode === 'check user data'">
    <div class="model-form__form" appearance="fill">
      <mat-label class="model-form__form-label">Enter username</mat-label>
      <input formControlName="userName" type="text" class="model-form__input" matInput />
      <p class="info" *ngIf="
          this.changePasswordForm.get('userName')?.invalid &&
          this.changePasswordForm.get('userName')?.touched
        ">
        <small *ngIf="this.changePasswordForm.get('userName')?.value == ''" class="form-error animation-show">
          The form must be filled out!!! Please enter your Username
        </small>
      </p>
    </div>

    <div class="model-form__form" appearance="fill">
      <mat-label class="model-form__form-label">Enter email</mat-label>
      <input formControlName="email" type="text" class="model-form__input" matInput />
      <p class="info" *ngIf="
          this.changePasswordForm.get('email')?.invalid &&
          this.changePasswordForm.get('email')?.touched
        ">
        <small *ngIf="this.changePasswordForm.get('email')?.value == ''" class="form-error animation-show">
          The form must be filled out!!! Please enter your Email
        </small>
        <small *ngIf="
            this.changePasswordForm.get('email')?.value !== '' &&
            this.changePasswordForm.get('email')?.invalid
          " class="form-error animation-show">
          Email format invalidate! Please enter email format expample@exp.com
        </small>
      </p>
    </div>

    <div class="model-form__form" appearance="fill">
      <mat-label class="model-form__form-label">Enter home IP</mat-label>
      <input formControlName="homeIp" type="ip" class="model-form__input" matInput />
      <p class="info" *ngIf="
          this.changePasswordForm.get('homeIp')?.invalid &&
          this.changePasswordForm.get('homeIp')?.touched
        ">
        <small *ngIf="this.changePasswordForm.get('homeIp')?.value == ''" class="form-error animation-show">
          The form must be filled out!!! Please enter your homeIp
        </small>
        <small *ngIf="
            this.changePasswordForm.get('homeIp')?.value !== '' &&
            this.changePasswordForm.get('homeIp')?.invalid
          " class="form-error animation-show">
          Invalid format!! Please enter IP format 15.00.00.00
        </small>
      </p>
    </div>
  </form>

  <!-- password form -->
  <form [formGroup]="changePasswordForm" mat-dialog-content class="model-form__content" *ngIf="mode === 'change password'">
    <div class="model-form__form" appearance="fill">
      <mat-label class="model-form__form-label">Enter new password</mat-label>
      <input formControlName="password" type="text" class="model-form__input" matInput />
      <p class="info" *ngIf="
        this.changePasswordForm.get('password')?.invalid &&
        this.changePasswordForm.get('password')?.touched
      ">
        <small *ngIf="this.changePasswordForm.get('password')?.value == ''" class="form-error animation-show">
          The form must be filled out!!! Please enter your Password
        </small>
        <small *ngIf="
          this.changePasswordForm.get('password')?.value !== '' &&
          this.changePasswordForm.get('password')?.invalid
        " class="form-error animation-show">
          Invalid format!! The password must contain minimum eight characters, at
          least one uppercase letter, one lowercase letter and one number
        </small>
      </p>
    </div>

    <div class="model-form__form" appearance="fill">
      <mat-label class="model-form__form-label">Confirm password</mat-label>
      <input formControlName="password" type="text" class="model-form__input" matInput />
      <p class="info" *ngIf="
        this.changePasswordForm.get('passwordConfirm')?.invalid &&
        this.changePasswordForm.get('passwordConfirm')?.touched
      ">
        <small *ngIf="this.changePasswordForm.get('passwordConfirm')?.value === ''" class="form-error animation-show">
          The form must be filled out!!! Please confirm your Password
        </small>
        <small *ngIf="
          this.changePasswordForm.get('passwordConfirm')?.value !== '' &&
          this.changePasswordForm.get('passwordConfirm')?.value !==
            this.changePasswordForm.get('password')?.value
        " class="form-error animation-show">
          Passwords do not match!!!
        </small>
      </p>
    </div>

  </form>
  <!-- buttons -->
  <div mat-dialog-actions class="model-form__buttons">
    <button class="model-form__actions-btn non-btn-style hover-color" mat-button (click)="onNoClick()">
      Cancel
    </button>
    <!-- button check data -->
    <button (click)="confirmUserData()" *ngIf="mode === 'check user data'"
      [disabled]="changePasswordForm.invalid || changePasswordForm.disabled" [ngClass]="
        changePasswordForm.invalid || changePasswordForm.disabled ? '' : 'hover-color'
      " type="submit" class="model-form__actions-btn non-btn-style" mat-button>
      Confirm
    </button>
    <!--  button change password -->
    <button (click)="changePassword()" *ngIf="mode === 'change password'"
      [disabled]="changePasswordForm.invalid || changePasswordForm.disabled" [ngClass]="
    changePasswordForm.invalid || changePasswordForm.disabled ? '' : 'hover-color'
  " type="submit" class="model-form__actions-btn non-btn-style" mat-button>
      Confirm
    </button>
  </div>
</div>

<ng-template #loader>
  <div class="loader">
    <app-loader></app-loader>
  </div>
</ng-template>
