<div class="room__container animation-show" *ngIf="loading else loader">
  <div class="room__sections">
    <!-- temperature -->
    <section class="room__section section">
      <h2 class="section__title icon-sun">Temperature</h2>
      <div class="section__actions">
        <div class="section__text text-red">{{temp.actualTemp}}</div>
        <div class="section__buttons">
          <div class="section__button text-blue bg-yellow">Change</div>
        </div>
      </div>
    </section>
    <!-- scenarios -->
    <section class="room__section section">
      <h2 class="section__title text-yellow icon-pansil">Scenarios</h2>
      <div class="section__actions">
        <div class="section__buttons">
          <div class="section__button text-blue bg-red">Change</div>
        </div>
      </div>
    </section>
    <!-- Accessories -->
    <section class="room__section section">
      <h2 class="section__title text-blue icon-magic-wand">Accessories</h2>
      <div class="section__actions">
        <div class="section__buttons">
          <div class="section__button button text-blue bg-red">
            <p class="button__text icon-tv">tv</p>
            <p class="button__status text-gray">enable</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
