@import "../shared/css styles/scssConstants.scss";

.page {
	// .page__container

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80vw;
		min-height: 92.5vh;
		@media (max-width: $md2) {
			width: 100vw;
		}
		background: linear-gradient(60deg, #e9161694, #f5f10986, #08edf598, #ff02dd8c),
			linear-gradient(135deg, #e916e98a, #09f53c, #2008f56c, #ff0239);
	}

	// .page__wrapper

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: inherit;
		width: 78vw;
		min-height: 88vh;
		flex-direction: column;
		overflow: hidden;
		
		@media (max-width: $md2) {
			width: 98vw;
		}
		color: #fff;
	}

	// .page__section

	&__section {
		display: flex;
		flex-direction: row;
		align-items: center;
		@media (max-width: $md3) {
			flex-direction: column;
			margin: 10px 0;
		}
	}
}
.status {
	display: flex;
	flex-direction: column;
	margin: 0 80px 0 20px;
	@media (max-width: $md3) {
		align-items: center;
		margin: 0;
	}
	// .status__label

	&__label {
		font-weight: 400;
		font-size: 28px;
		line-height: 34/28 * 100%;
	}

	// .status__btn

	&__btn {
		cursor: pointer;
		transition: all 1.5s ease 0s;
		font-weight: 400;
		font-size: 32px;
		line-height: 38/32 * 100%;
		margin: 15px 0;
		padding: 10px 30px;
		background: linear-gradient(45deg, rgb(243, 67, 67), rgb(25, 217, 224), rgb(79, 79, 238));
		color: #ee0886;
		scale: 0.98;
		opacity: 0.9;
		border-radius: 1000px;
		
		@media (max-width: $md3) {
			width: 70vw;
		}
	}
}
.hover-status-btn{
	@media (min-width: $md3) {
		&:hover {
			background: linear-gradient(45deg, rgb(243, 67, 214), rgb(25, 95, 224), rgb(231, 131, 16));
			color: #db08ee;
			opacity: 1;
			scale: 1.1;
		}
	}
}
.limit {
	display: flex;
	align-items: center;
	flex-direction: row;
	@media (max-width: $md3) {
		flex-direction: column;
		margin: 10px 0;
	}
	// .limit__info

	&__info {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	// .limit__label

	&__label {
		font-size: 28px;
		line-height: 34/28 * 100%;
	}

	// .limit__input

	&__input {
		cursor: pointer;
		background: #f52c09c7;
		height: 40px;
		font-size: 24px;
		border: none;
		width: 250px;
		border-radius: 1000px;
		display: flex;
		text-align: center;
		margin: 20px 0;
		&::placeholder {
			color: #fff;
		}
		@media (max-width: $md3) {
			height: 50px;
		}
	}

	// .limit__buttons

	&__buttons {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0 20px;
	}

	// .limit__button

	&__button {
		cursor: pointer;
		transition: all 1.5s ease 0s;
		font-size: 28px;
		line-height: 34/28 * 100%;
		background: linear-gradient(30deg, #09f53c, #09f5e9, #aa09f5, #f5099b);
		margin: 10px 0;
		scale: 1;
		height: 50px;
		width: 170px;
		padding: 0 10px;
		border-radius: 1000px;
		@media (min-width: $md3) {
			&:hover {
				color: #fff;
				scale: 1.1;
				background: linear-gradient(30deg, #08d635, #198be9, #9a09dd, #cc0680);
			}
		}
		@media (max-width: $md3) {
			height: 60px;
			width: 70vw;
		}
	}
}
.section {
	// .section__wrapper
	&__wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	// .section__list

	&__list {
		display: flex;
		align-items: start;
		justify-content: center;
		flex-direction: column;
		width: 60vw;
		padding: 0;
	
	}

	// .section__item

	&__item {
		display: flex;
		align-items: center;
		flex-direction: row;
		height: 40px;
		margin: 10px 0;
		font-size: 24px;
		line-height: 34/28*100%;
		
		@media (max-width: $md2){
		flex-direction: column;
		align-items: start;
		height: auto;
		}
	}

	// .section__text

	&__text {
		font-size: 32px;
		line-height: 38/32*100%;
		color: #e9197a;
		margin: 20px 0;
		text-align: center;
		@media (max-width: $md3){
		color: #ff0000;
		font-size: 24px;
		}
	}

	// .section__buttons

	&__buttons {
		display: flex;
		flex-direction: column;
	}

	// .section__button

	&__button {
		transition: all 1.5s ease 0s;
		scale: 1;
		margin: 15px 0;
		font-size: 28px;
		line-height: 36/28*100%;
		height: 50px;
		border-radius: 1000px;
		padding: 0 20px;
		color: #0868d6;
		background: linear-gradient(60deg,#08d635,#c1d608,#d66b08,#8a08d6);
		
		@media (max-width: $md4){
		font-size: 20px;
		}
	}
}
.hover-section-btn{
	@media (min-width: $md3){
		&:hover{
		scale: 1.1;
		color: #08bed6;
		background: linear-gradient(60deg,#196ad4,#ad08d6,#ff5100,#d608b4);
		}
		}
}
.item {
	// .item__button

	&__button {
		cursor: pointer;
		transition: all 1.5s ease 0s;
		font-size: 28px;
		line-height: 34/28*100%;
		color: #08bed6;
		background: linear-gradient(60deg,#196ad4,#ad08d6,#ff5100,#d608b4);
		margin: 0  0  0 20px;
		padding: 0 20px;
		height: 50px;
		scale: 1;
		border-radius: 1000px;
	
		@media (max-width: $md2){
			margin: 10px 0;
			width: 70vw;
		}
		@media (max-width: $md4){
			font-size: 20px;
			}
	}
	
}
.hover-item-btn{
	@media (min-width: $md3){
		&:hover{
			scale: 1.1;
			color: #082ed6;
			background: linear-gradient(60deg,#2fd7f5,#d738ff,#f36f31,#fc67e3);
		}
		}
}

.active{
	border: 4px solid #082ed6;
	opacity: 1;
}
.non-active{
	opacity: 0.5;
}
.visible{
	opacity: 1;
}