<div class="page__container">
  <div class="page__wrapper animation-show" *ngIf="loading && limitLoading; else loader">
    <section *ngIf="this.sypply !== null" class="page__section">
      <div class="status">
        <label class="status__label"
          >Status: {{ this.sypply.status ? "Enabled" : "Disabled" }}</label
        >
        <button
          [disabled]="this.disabled"
          [ngClass]="{ 'hover-status-btn': !this.disabled }"
          class="status__btn non-btn-style"
          (click)="changeStatus(this.sypply)"
        >
          {{ !this.sypply.status ? "Enable" : "Disable" }}
        </button>
      </div>
      <div class="limit">
        <div class="limit__info">
          <label class="limit__label"
            >Active limit:
				{{ this.limit?.perDay !== null || this.limit?.perMonth !== null ? '' : 'non limit' }}
            {{ this.limit?.perDay !== null ? this.limit?.perDay : "" }}
            {{ this.limit?.perMonth !== null ? this.limit?.perMonth : "" }}</label
          >
          <input
            [(ngModel)]="limitInput"
            type="number"
            class="limit__input"
            placeholder="Enter limit"
          />
        </div>
        <div class="limit__buttons">
          <button
            [disabled]="this.disabled"
				(click)="activeButton ='Per day' "
				[ngClass]="{
					'active':  activeButton==='Per day',
					'non-active': activeButton!=='Per day'
				}"
            class="limit__button non-btn-style "
          >
            Per day
          </button>
          <button
            [disabled]="this.disabled"
            class="limit__button non-btn-style "
				(click)="activeButton ='Per month' "
				[ngClass]="{
					'active': activeButton==='Per month',
					'non-active':  activeButton!=='Per month'
				}"
          >
            Per month
          </button>
          <button
            [disabled]="this.disabled"
            (click)="limitChange()"
            class="limit__button non-btn-style"
          >
            New limit
          </button>
        </div>
      </div>
    </section>
    <section class="page__section">
      <ul class="section__list">
        <li class="section__item">Using in a day: {{usingByDay}} </li>
        <li class="section__item">Used in the current month: {{usingByCurrentMonth}}</li>
        <li class="section__item">Using in a past month: {{usingByPastMonth}}</li>
        <li class="section__item">Average consumption per day on past month: {{usingAverageByDayInPastMonth | number:'.1-2' }}</li>
        <li class="section__item">
          Tariff: {{this.sypply?.tarif}} griven/{{this.unitOfMeasurement}}
          <button [disabled]="this.disabled" class="item__button non-btn-style">
            Change tariff
          </button>
        </li>
        <li class="section__item">
          Current account: {{this.sypply?.sypplyAccount}}
          <button [disabled]="this.disabled" class="item__button non-btn-style">
            Change account
          </button>
        </li>
      </ul>
    </section>
    <section class="page__section">
      <div class="section__wrapper">
        <div class="section__text">
          The final cost for the consumed electricity for the past month: 350 *
          355 = 355555 griven
        </div>
        <div class="section__buttons">
          <button
            [disabled]="this.disabled"
            class="section__button non-btn-style"
          >
            Record the calculation
          </button>
          <button
            [disabled]="this.disabled"
            class="section__button non-btn-style"
          >
            View data on past calculations
          </button>
        </div>
      </div>
    </section>
  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
