@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pys1cs');
  src:  url('fonts/icomoon.eot?pys1cs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pys1cs') format('truetype'),
    url('fonts/icomoon.woff?pys1cs') format('woff'),
    url('fonts/icomoon.svg?pys1cs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bed:before {
  content: "\e910";
}
.icon-camera:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-database:before {
  content: "\e902";
}
.icon-droplet:before {
  content: "\e903";
}
.icon-fire:before {
  content: "\e904";
}
.icon-hammer:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e907";
}
.icon-magic-wand:before {
  content: "\e908";
}
.icon-newspaper:before {
  content: "\e909";
}
.icon-pansil:before {
  content: "\e90a";
}
.icon-power:before {
  content: "\e90b";
}
.icon-smile:before {
  content: "\e90c";
}
.icon-spinner:before {
  content: "\e90d";
}
.icon-sun:before {
  content: "\e90e";
}
.icon-youtube:before {
  content: "\e90f";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-html-five:before {
  content: "\eae4";
}
