<div class="navigation__container animation-show">
  <div class="navigation__sections" *ngIf="loading; else loader">
    <section *ngFor="let room of rooms" class="navigation__section">
      <h2
        *ngIf="room.roomName !== 'No rooms have been added'; else emptyRooms"
        class="navigation__title"
        [ngClass]="{
          'icon-spoon-knife': room.typeName == 'Kitchen',
          'icon-lifebuoy': room.typeName == 'Bathroom',
          'icon-newspaper': room.typeName == 'Living room',
          'icon-bed': room.typeName == 'Bedroom',
          'icon-briefcase': room.typeName == 'Cabinet',
          'icon-lab': room.typeName == 'Basement',
          'icon-smile': room.typeName == 'Holl'
        }"
        [routerLink]="['/room/', room.roomId]"
        (click)="newcurrentUrl('/room/' + room.roomId, room.roomName)"
      >
        {{ room.roomName }}
      </h2>
      <ng-template #emptyRooms>
        <h2 class="navigation__title" [routerLink]="['/rooms']">
          {{ room.roomName }}
          <br>
          + Add new
        </h2>
      </ng-template>
    </section>
  </div>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
