<div class="container animation-show custom-scrollbar">
  <section *ngIf="loading; else loader" class="form animation-show">
    <div class="form__title">Type Management</div>
    <ul class="form__list">
      <div
        *ngIf="types$ | async as types; else loader"
        class="list-container"
        [ngClass]="{ 'scroll custom-scrollbar': types.length > 9 }"
      >
        <li *ngIf="types.length > 0; else empty" class="positions">
          <div *ngFor="let type of types" class="position">
            <label class="position__title">Type:</label>
            <div class="position__name" (click)="takeName(type.typeName)">
              {{ type.typeName | titlecase }}
            </div>
          </div>
        </li>
      </div>
    </ul>
    <form [formGroup]="typeForm" class="form__fields">
      <div class="form__field field">
        <label class="field__title">Type name</label>
        <input
          formControlName="typeName"
          type="text"
          class="field__input"
          placeholder="Enter type name"
          [ngClass]="{
            'border-red':
              this.typeForm.get('typeName')?.invalid &&
              this.typeForm.get('typeName')?.touched
          }"
        />
        <p
          class="form__error"
          *ngIf="
            this.typeForm.get('typeName')?.invalid &&
            this.typeForm.get('typeName')?.touched
          "
        >
          <small
            *ngIf="this.typeForm.get('typeName')?.value === ''"
            class="form-error animation-show"
          >
            Form must not been empty!
          </small>
          <small
            *ngIf="this.typeForm.get('typeName')?.invalid"
            class="form-error animation-show"
          >
            Min length name 4 symbols
          </small>
        </p>
      </div>
      <div class="form__field field">
        <label class="field__title">New type name</label>
        <input
          formControlName="newTypeName"
          type="text"
          class="field__input"
          placeholder="Enter new type name"
          [ngClass]="{
            'border-red':
              this.typeForm.get('newTypeName')?.invalid &&
              this.typeForm.get('newTypeName')?.touched
          }"
        />
        <p
          class="form__error"
          *ngIf="
            this.typeForm.get('newTypeName')?.invalid &&
            this.typeForm.get('newTypeName')?.touched
          "
        >
          <small
            *ngIf="this.typeForm.get('newTypeName')?.invalid"
            class="form-error animation-show"
          >
            Min length name 4 symbols
          </small>
        </p>
      </div>
    </form>
    <div class="form__buttons">
      <button
        [disabled]="
          this.typeForm.get('typeName')?.invalid || this.typeForm.disabled
        "
        [ngClass]="{
          'hover-color':
            !this.typeForm.get('typeName')?.invalid && !this.typeForm.disabled
        }"
        (click)="createType()"
        class="form__button non-btn-style"
      >
        Create
      </button>

      <button
        [disabled]="
          this.typeForm.get('typeName')?.invalid ||
          this.typeForm.get('newTypeName')?.invalid ||
          this.typeForm.disabled
        "
        [ngClass]="{
          'hover-color':
            !this.typeForm.get('typeName')?.invalid &&
            !this.typeForm.get('newTypeName')?.invalid &&
            !this.typeForm.disabled
        }"
        (click)="updateType()"
        class="form__button non-btn-style"
      >
        Update
      </button>

      <button
        [disabled]="
          this.typeForm.get('typeName')?.invalid || this.typeForm.disabled
        "
        [ngClass]="{
          'hover-color':
            !this.typeForm.get('typeName')?.invalid && !this.typeForm.disabled
        }"
        (click)="deleteType()"
        class="form__button non-btn-style"
      >
        Delete
      </button>
    </div>
  </section>

  <ng-template #loader>
    <div class="loader">
      <app-loader></app-loader>
    </div>
  </ng-template>
  <ng-template #empty>
    <p class="empty">Types not exist`s</p>
  </ng-template>
</div>
