<div class="navigation__container animation-show">
	<div *ngIf="loading; else loader">
		<div *ngIf="sypplies.length>0; else empty" class="navigation__sections">
	  <section *ngFor="let sypply of sypplies" class="navigation__section">
		 <h2
			class="navigation__title icon-bed"
			[ngClass]="{
				'icon-fire': sypply.sypplyType == 'Gas',
				'icon-power': sypply.sypplyType == 'Electricity',
				'icon-sun': sypply.sypplyType == 'Heat',
				'icon-droplet': sypply.sypplyType == 'Water',
				'icon-youtube': sypply.sypplyType == 'Internet'
			}"
			[routerLink]="['/sypply/',sypply.sypplyId]"
			(click)="newcurrentUrl('/sypply/'+sypply.sypplyId,sypply.sypplyName)"
		 >
			{{ sypply.sypplyName}}
		 </h2>
	  </section>
	</div>
	
</div>
 
	<ng-template #loader>
	  <app-loader></app-loader>
	</ng-template>
	<ng-template #empty>
	  <p class="info">Sypplies doesn`t exist yet</p>
	</ng-template>
 </div>