<form class="form__container container animation-show" *ngIf="loading;else loader">
  <div class="form__title">Sign-in to account</div>
  <div class="form__fields">
    
    <input matInput type="text" class="form__field phfont-family" placeholder="Email or Username" />
    <input type="password" class="form__field phfont-family" placeholder="Password" />
  </div>
  <a href="" class="form__help-ref">Forgot password?</a>
  <button type="submit" class="form__btn btn btn-blc hover-color">Sign-in</button>
  <div class="form__help-text">
    You don't have account?
    <a [routerLink]="'/register'" class="form__help-ref">
      <p>Create now</p>
    </a>
  </div>
</form>

<ng-template #loader>
  <div class="loader">
    <app-loader></app-loader>
  </div>
</ng-template>